.grid {
    width: 100%;
    display: block;
    padding: 0;
}

.grid.wide {
    max-width: 1200px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -4px;
    margin-right: -4px;
}

.row.no-gutters {
    padding-left: -0px;
    padding-right: -0px;
}

.col {
    padding-left: 4px;
    padding-right: 4px;
}

.row.no-gutters .col {
    padding-left: 0;
    padding-right: 0;
}

.m-0 {
    /* ẩn cột trên chế độ mobile */
    display: none;
}

.m-1 {
    flex: 0 0 8.3333%;
    max-width: 8.3333%;
}

.m-2 {
    flex: 0 0 16.6667%;
    max-width: 16.6667%;
}

.m-3 {
    flex: 0 0 25%;
    max-width: 25%;
}

.m-4 {
    flex: 0 0 33.3333%;
    max-width: 33.3333%;    
}

.m-5 {
    flex: 0 0 41.6667%;
    max-width: 41.6667%;
}

.m-6 {
    flex: 0 0 50%;
    max-width: 50%;
}

.m-7 {
    flex: 0 0 58.3333%;
    max-width: 58.3333%;
}

.m-8 {
    flex:0 0 66.6667%;
    max-width: 66.6667%;
}

.m-9 {
    flex: 0 0 75% ;
    max-width: 75%;
}

.m-10 {
    flex: 0 0 83.3333%;
    max-width: 83.3333%;
}

.m-11 {
    flex:0 0 91.6667%;
    max-width: 91.6667%;
}

.m-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

/* vị trí */
.m-0-1 {
    margin-left: 8.3333%;
}

.m-0-2 {
    margin-left: 16.6667%;
}

.m-0-3 {
    margin-left: 25%;
}

.m-0-4 {
    margin-left: 33.3333%;    
}

.m-0-5 {
    margin-left: 41.6667%;
}

.m-0-6 {
    margin-left: 50%;
}

.m-0-7 {
    margin-left: 58.3333%;
}

.m-0-8 {
    margin-left: 66.6667%;
}

.m-0-9 {
    margin-left: 75%;
}

.m-0-10 {
    margin-left: 83.3333%;
}

.m-0-11 {
    margin-left: 91.6667%;
}

/* tablet */
@media (min-width:740px) and (max-width:1023px) {
    .wide {
        width: 644px;
    }
}

/* tablet */
@media (min-width:740px) {
    .row {
        margin-left: -8px;
        margin-right: -8px;
    }
    .col {
        padding-left: 8px;
        padding-right: 8px;
    }
    .t-0 {
        display: none;
    }
    .t-1,
    .t-2,
    .t-3,
    .t-4,
    .t-5,
    .t-6,
    .t-7,
    .t-8,
    .t-9,
    .t-10,
    .t-11,
    .t-12 {
        display: block;
    }
    .t-1 {
        flex: 0 0 8.3333%;
        max-width: 8.3333%;
    }
    
    .t-2 {
        flex: 0 0 16.6667%;
        max-width: 16.6667%;
    }
    
    .t-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
    
    .t-4 {
        flex: 0 0 33.3333%;
        max-width: 33.3333%;    
    }
    
    .t-5 {
        flex: 0 0 41.6667%;
        max-width: 41.6667%;
    }
    
    .t-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    
    .t-7 {
        flex: 0 0 58.3333%;
        max-width: 58.3333%;
    }
    
    .t-8 {
        flex:0 0 66.6667%;
        max-width: 66.6667%;
    }
    
    .t-9 {
        flex: 0 0 75% ;
        max-width: 75%;
    }
    
    .t-10 {
        flex: 0 0 83.3333%;
        max-width: 83.3333%;
    }
    
    .t-11 {
        flex:0 0 91.6667%;
        max-width: 91.6667%;
    }
    
    .t-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
    /* vị trí */
    .t-0-1 {
        margin-left: 8.3333%;
    }

    .t-0-2 {
        margin-left: 16.6667%;
    }

    .t-0-3 {
        margin-left: 25%;
    }

    .t-0-4 {
        margin-left: 33.3333%;    
    }

    .t-0-5 {
        margin-left: 41.6667%;
    }

    .t-0-6 {
        margin-left: 50%;
    }

    .t-0-7 {
        margin-left: 58.3333%;
    }

    .t-0-8 {
        margin-left: 66.6667%;
    }

    .t-0-9 {
        margin-left: 75%;
    }

    .t-0-10 {
        margin-left: 83.3333%;
    }

    .t-0-11 {
        margin-left: 91.6667%;
    }
}

@media (min-width:1113px) {
    .row {
        margin-left: -12px;
        margin-right: -12px;
    }
    .row.small-gutter {
        margin-left: -5px;
        margin-right: -5px;
    }
    .col {
        padding-left: 12px;
        padding-right: 12px;
    }
    .row.small-gutter .col {
        padding-left: 5px;
        padding-right: 5px;
    }
    .p-0 {
        display: none;
    }
    .p-1,
    .p-2,
    .p-2-4,
    .p-3,
    .p-4,
    .p-5,
    .p-6,
    .p-7,
    .p-8,
    .p-9,
    .p-10,
    .p-11,
    .p-12 {
        display: block;
    }
    .p-1 {
        flex: 0 0 8.3333%;
        max-width: 8.3333%;
    }
    
    .p-2 {
        flex: 0 0 16.6667%;
        max-width: 16.6667%;
    }

    .p-2-4 {
        flex:0 0 20%;
        max-width: 20%;
    }
    
    .p-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
    
    .p-4 {
        flex: 0 0 33.3333%;
        max-width: 33.3333%;    
    }
    
    .p-5 {
        flex: 0 0 41.6667%;
        max-width: 41.6667%;
    }
    
    .p-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    
    .p-7 {
        flex: 0 0 58.3333%;
        max-width: 58.3333%;
    }
    
    .p-8 {
        flex:0 0 66.6667%;
        max-width: 66.6667%;
    }
    
    .p-9 {
        flex: 0 0 75% ;
        max-width: 75%;
    }
    
    .p-10 {
        flex: 0 0 83.3333%;
        max-width: 83.3333%;
    }
    
    .p-11 {
        flex:0 0 91.6667%;
        max-width: 91.6667%;
    }
    
    .p-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
    /* vị trí */
    .p-0-1 {
        margin-left: 8.3333%;
    }

    .p-0-2 {
        margin-left: 16.6667%;
    }

    .p-0-3 {
        margin-left: 25%;
    }

    .p-0-4 {
        margin-left: 33.3333%;    
    }

    .p-0-5 {
        margin-left: 41.6667%;
    }

    .p-0-6 {
        margin-left: 50%;
    }

    .p-0-7 {
        margin-left: 58.3333%;
    }

    .p-0-8 {
        margin-left: 66.6667%;
    }

    .p-0-9 {
        margin-left: 75%;
    }

    .p-0-10 {
        margin-left: 83.3333%;
    }

    .p-0-11 {
        margin-left: 91.6667%;
    }
}


@media (min-width:1024px) and (max-width:1239px) {
    .wide {
        width: 984px;
    }
    .wide .row  {
        margin-left: -12px;
        margin-right: -12px;
    }

    .wide .row.small-gutter {
        margin-left: -5px;
        margin-right: -5px;
    }

    .wide .col {
        padding-left: 12px;
        padding-right: 12px;
    }
    .wide .row.small-gutter .col {
        padding-left: 5px;
        padding-right: 5px;
    }
    .wide .w-0 {
        display: none;
    }
    .wide .p-1,
    .wide .p-2,
    .wide .p-2-4,
    .wide .p-3,
    .wide .p-4,
    .wide .p-5,
    .wide .p-6,
    .wide .p-7,
    .wide .p-8,
    .wide .p-9,
    .wide .p-10,
    .wide .p-11,
    .wide .p-12 {
        display: block;
    }
    .wide .p-1 {
        flex: 0 0 8.3333%;
        max-width: 8.3333%;
    }
    
    .wide .p-2 {
        flex: 0 0 16.6667%;
        max-width: 16.6667%;
    }

    .wide .p-2-4 {
        flex:0 0 20%;
        max-width: 20%;
    }
    
    .wide .p-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
    
    .wide .p-4 {
        flex: 0 0 33.3333%;
        max-width: 33.3333%;    
    }
    
    .wide .p-5 {
        flex: 0 0 41.6667%;
        max-width: 41.6667%;
    }
    
    .wide .p-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    
    .wide .p-7 {
        flex: 0 0 58.3333%;
        max-width: 58.3333%;
    }
    
    .wide .p-8 {
        flex:0 0 66.6667%;
        max-width: 66.6667%;
    }
    
    .wide .p-9 {
        flex: 0 0 75% ;
        max-width: 75%;
    }
    
    .wide .p-10 {
        flex: 0 0 83.3333%;
        max-width: 83.3333%;
    }
    
    .wide .p-11 {
        flex:0 0 91.6667%;
        max-width: 91.6667%;
    }
    
    .wide .p-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
    /* vị trí */
    .wide .p-0-1 {
        margin-left: 8.3333%;
    }

    .wide .p-0-2 {
        margin-left: 16.6667%;
    }

    .wide .p-0-3 {
        margin-left: 25%;
    }

    .wide .p-0-4 {
        margin-left: 33.3333%;    
    }

    .wide .p-0-5 {
        margin-left: 41.6667%;
    }

    .wide .p-0-6 {
        margin-left: 50%;
    }

    .wide .p-0-7 {
        margin-left: 58.3333%;
    }

    .wide .p-0-8 {
        margin-left: 66.6667%;
    }

    .wide .p-0-9 {
        margin-left: 75%;
    }

    .wide .p-0-10 {
        margin-left: 83.3333%;
    }

    .wide .p-0-11 {
        margin-left: 91.6667%;
    }
}




